 
img{
   border-radius: 50%; border-color: #281242; border-width: 5px; border-style: solid;
   }
  
   hr{
    height: 1px;
    background-color: #281242;
    border: none;
   }

   a[href^="mailto"] { color: gold;}
   a[href^="mailto"]:hover:after { content: " > mmore35@lsu.edu"; }
  
   .interactive :hover{
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
   }

   .info {
   color: gold; font-size: large; font-weight: 500;
   }

   .important {
   color: #281242; background-color:gold; font-size: large; font-weight: 500;
   }
  
   .maintxt {
   color: #281242; font-size: normal; font-weight: lighter; font-family: 'Caladea', serif;
   }
  
  .aligncenter {
  Text-align: center;
  }

  .fixedElement {
   background-color: #c0c0c0;
   position:fixed;
   top:0;
   width:100%;
   z-index:100;
}
