 
img#Headshot {
 border-radius: 50%; border-color: #2a1b64; border-width: 5px; border-style: solid;
}
  
img#Portfolio {
   padding: 10px;
   background:rgba(39, 111, 179, 0.212);
   border: 5px solid #60686b;
  }

hr{
 height: 1px;
 background-color: #2a1b64;
 border: none;
}

a[href^="mailto"] { color: gold;}
/* a[href^="mailto"]:hover:after { content: " > mmore35@lsu.edu"; } */
  
.interactive :hover{
 -moz-transform: translate(-2px, -2px);
 -ms-transform: translate(-2px, -2px);
 -o-transform: translate(-2px, -2px);
 -webkit-transform: translate(-2px, -2px);
 transform: translate(-2px, -2px)
}

.info {
 font-size: large; font-weight: 500;
}

.important {
 color: #2a1b64; font-size: 1.3em; font-weight: 500;
}
  
.maintxt {
 color: #281242; font-size: normal; font-weight: lighter; font-family: 'Caladea', serif;
}
  
.maintxt2 {
 color: #2a1b64; font-size: normal; font-weight: lighter; font-family: 'Caladea', serif;
}

.aligncenter {
 Text-align: center;
}

.alignLeft {
   Text-align: left;
  }

.fixedElement {
 background-color: #c0c0c0;
 position:fixed;
 top:0;
 width:100%;
 z-index:100;
}

div#banner { 
 position: absolute; 
 top: 0; 
 left: 0; 
 background-color: rgba(178, 211, 221, 0.568); 
 width: 100%; 
}

div#banner-content { 
 margin: 0 auto; 
 padding: 0.5em; 
 border: 1px solid #000;
 text-align: center;
 font-size: large;
}

a#BannerID {
 color: rgb(0, 81, 90);
 padding: 0.5em 1.0em;
 text-decoration: none;
 text-transform: uppercase;
}

a#BannerID-IA {
 color: rgba(178, 211, 221, 0.568);
 background-color: rgb(0, 81, 90);
 padding: 0.5em 1.0em;
 text-decoration: none;
 text-transform: uppercase;
}

a:hover {
 background-color: rgba(65, 94, 126, 0.596);
}

a:active {
 background-color: rgba(0, 81, 90, 0.63);
}

h1 span { 
 color: #2a1b64;
}

span#BGB {
 background-color:rgba(110, 170, 180, 0.521);
}

.InLine {
   display: block;
   height: 30px;
   line-height: 30px;
   padding: 4px 6px;
   font-size: 16px;
   margin-bottom: 13px;
   clear: both;
 }    

 .InLine .Left {
   float: left;
 }

 .InLine .Right {
   float: right;
   background-color:rgba(110, 170, 180, 0.521);
 }      
 
 .InLine .Bottom {
   float: bottom;
   background-color:rgba(110, 170, 180, 0.521);
 }   

 div#Box {
   height: 35em;
   border: 5px solid rgba(42, 73, 100, 0.753);
   margin: 20px;
 }

 hr#Sup {
   display: block;
   height: 5px;
   border: 0;
   margin: 1em 0;
   padding: 0;
   background-color: #2a1b648c;
}

.img:hover{
   color: #424242; 
 -webkit-transition: all .3s ease-in;
 -moz-transition: all .3s ease-in;
 -ms-transition: all .3s ease-in;
 -o-transition: all .3s ease-in;
 transition: all .3s ease-in;
 opacity: 1;
 transform: scale(1.10);
 -ms-transform: scale(1.10); /* IE 9 */
 -webkit-transform: scale(1.10); /* Safari and Chrome */
}

@media screen and (max-width: 750px) {

   img#Portfolio {
        width: 310px;
   }

   div#banner-content {
      font-size: medium;
   }

}